
body{
background-color:skyblue;
overflow-x: hidden;
}
.main_wrapper{
height: auto;
width:100px;

}
.content_wrapper{
width: 1400px;


background: white;
} 
.menubar{
    width:1400px;

    background: #0f82b8;
    border:2px solid orange;
    display: flex;
    position: fixed;
    z-index: 12;
padding: 1%;
    align-items: center;
}
.menubar li a{
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white ;

}
.cat_t,.brand_t,.login{
    font-weight: bold;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
input[type='submit'],.checkout{
    border-radius: 10%;
   background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;

}
input[type='submit']:hover,.checkout:hover{
    color:blue;
    background: white;
cursor: pointer;
text-decoration: none;
}
.menu-list{
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style:none;
align-content: center;
}
#sidebar{
    width: 200px;

background: #0f82b8;
/* position: fixed;
z-index: 10; */
margin-top: 70px;
border: 2px solid orange
}
#content_area{
    width: 1200px;
background: white;

margin-top: 100px;
}

#footer{
    width: 1400px;
background: gray;
height: 200px;
}
#form{

    float: right;
}

.side-menu,.brands{
    display: flex;
    flex-direction: column;

    padding-top: 10%;

}
.side-menu,.brands{
    list-style: none;
}
.side-menu a,.brands a{
    color:white;
    font-size: 20px;
    margin-bottom: 6%;
    margin-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.side-menu li:hover,.brands li:hover{
    background: white;
 text-decoration: none !important;
 color:black !important;
}
.side-menu a:hover,.brands a:hover{
    color:black !important;
    text-decoration: none;
}
#product_box{
    text-align: center;
  margin-left: auto;
  margin-right: auto;


    margin-bottom: 10px;
}
#single_product{
    padding:3%;
  color:black;
  margin:3%;
 float: left;
border:1px solid black;
    margin-left: 20px;
}
.single_pro{
    box-shadow: 5px 7px lightgray;
}
.single_pro:hover{
    box-shadow: 4px 6px 4px 4px gray;  
}
.cart{
color:blue !important;
font-weight: bold !important;
font-family: Arial, Helvetica, sans-serif;
background: wheat !important;
padding: 1%;
border-radius: 5%;
border :1 px solid gray;
}
.pro_img{
    border: 2px solid gray;
}
.pro_title,.pro_price{
    font-size: 18px;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.buttons,.pro_desc{
    display: flex;
    justify-content: center;
        align-self: center;
}
.buttons input{
   margin-right:5%;
}
.qty{
    width: 40px;
}
.bill{
   
    text-align: center;
    background:skyblue ;
    border:2px solid black;
    padding:1%; 
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}